{% extends "admin_base.html" %}

{% block title %}
  ユーザー詳細
{% endblock title %}
{% block content %}
  <div class="org-container">
    <div class="bread-crumb">
      <h4>
        管理者ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        ユーザ管理
      </h4>
      <span>
        >
      </span>
      <h4>
        ユーザー詳細
      </h4>
      <h4 class="cei-icon">
        管理者<span>CEI</span>
      </h4>
    </div>
    <div class="main-item">
      <a href='javascript:getPage("{% url 'admin_view:adminUserList' %}")'>
        <h2 class="back-user-btn">
          <　一覧へ戻る
        </h2>
      </a>
      <div class="user-single">
        <table>
          <tr>
            <th>
              ランク
            </th>
            <td>
              {{ user.rank__name }}
            </td>
          </tr>
          <tr>
            <th>
              法人名
            </th>
            <td>
              {{ user.company }}
            </td>
          </tr>
          <tr>
            <th>
              担当者名
            </th>
            <td>
              {{ user.name }}
            </td>
          </tr>
          <tr>
            <th>
              電話番号
            </th>
            <td>
              {{ user.phone }}
            </td>
          </tr>
          <tr>
            <th>
              メールアドレス
            </th>
            <td>
              {{ user.mail }}
            </td>
          </tr>
          <tr>
            <th>
              パスワード
            </th>
            <td>
              {{ user.password }}
            </td>
          </tr>
          <tr>
            <th>
              登録日
            </th>
            <td>
              {{ user.register_datetime }}
            </td>
          </tr>
          <tr>
            <th>
              最終ログイン日時
            </th>
            <td>
              {{ user.last_login_datetime }}
            </td>
          </tr>
          <tr class="last-make-border">
            <th>
              メッセージ URL
            </th>
            <td>
              {% url 'admin_view:adminMessage' user_id=user.id %}
            </td>
          </tr>
        </table>
      </div>
      <div class="user-single-actions">
        {% if user.enabled %}
          <a href='javascript:getPage("{% url 'admin_view:adminUserDelete' user_id=user.id %}")'>
            <h5 class="single-del-btn">
              削除
            </h5>
          </a>
        {% else %}
          <a href='javascript:getPage("{% url 'admin_view:adminUserActivate' user_id=user.id %}")'>
            <h5 class="revival-btn">
              復活
            </h5>
          </a>
        {% endif %}
        <a href='javascript:getPage("{% url 'admin_view:adminUserEdit' user_id=user.id %}")'>
          <h5>
            編集
          </h5>
        </a>
      </div>
    </div>
  </div>
{% endblock content %}