{% extends "admin_base.html" %}

{% block title %}
  {% if user_id %}
    ユーザー情報編集
  {% else %}
    ユーザー作成
  {% endif %}
{% endblock title %}
{% block content %}
  <div class="org-container">
    <div class="bread-crumb">
      <h4>
        管理者ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        アカウント
      </h4>
      <span>
        >
      </span>
      <h4 class="cei-icon">
        管理者<span>CEI</span>
      </h4>
      <h4>
        {% if user_id %}
          ユーザー情報編集
        {% else %}
          ユーザー作成
        {% endif %}
      </h4>
    </div>
    <div class="main-item">
      <h2>
        {% if user_id %}
          ユーザー情報編集
        {% else %}
          ユーザー作成
        {% endif %}
      </h2>
      <div class="user-edit">
        {% if user_id %}
          <form action="{% url 'admin_view:adminUserEdit' user_id=form.id.value %}" method="post">
        {% else %}
          <form action="{% url 'admin_view:adminUserCreate' %}" method="post">
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="post_type" value="post">
          <table>
            {{ form.enabled }}
            {% if user_id %}
              {{ form.id }}
            {% else %}
              <tr>
                <th>
                  {{ form.id.label_tag }} <span class="required-span">必須</span>
                </th>
                <td>
                  {{ form.id }}
                </td>
              </tr>
            {% endif %}
            <tr>
              <th>
                {{ form.rank.label_tag }} <span class="required-span">必須</span>
              </th>
              <td>
                {{ form.rank }}
              </td>
            </tr>
            <tr>
              <th>
                {{ form.company.label_tag }} <span class="optional-span">任意</span>
              </th>
              <td>
                {{ form.company }}
              </td>
            </tr>
            <tr>
              <th>
                {{ form.name.label_tag }} <span class="required-span">必須</span>
              </th>
              <td>
                {{ form.name }}
              </td>
            </tr>
            <tr>
              <th>
                {{ form.phone.label_tag }} <span class="optional-span">任意</span>
              </th>
              <td>
                {{ form.phone }}
              </td>
            </tr>
            <tr>
              <th>
                {{ form.mail.label_tag }} <span class="optional-span">任意</span>
              </th>
              <td>
                {{ form.mail }}
              </td>
            </tr>
            <tr class="last-make-border">
              <th>
                {{ form.password.label_tag }} <span class="required-span">必須</span>
              </th>
              <td>
                {{ form.password }}
              </td>
            </tr>
          </table>
          <div class="text-right">
            <button type="submit" id="submit" class="submit-btn">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}