{% extends "admin_base.html" %}

{% block title %}
  {% if user_id %}
    ユーザー情報編集
  {% else %}
    ユーザー作成
  {% endif %}
{% endblock title %}
{% block content %}
  <div class="org-container">
    <div class="bread-crumb">
      <h4>
        管理者ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        ユーザ管理
      </h4>
      <span>
        >
      </span>
      <h4>
        ユーザ一覧
      </h4>
      <h4 class="cei-icon">
        管理者<span>CEI</span>
      </h4>
    </div>
    <div class="main-item">
      <div class="main-item-navbar">
        <a href='javascript:getPage("{% url 'admin_view:adminUserList' %}")'>
          <h3 class="main-item-nav active">
            ユーザー&nbsp;一覧
          </h3>
        </a>
        <a href='javascript:getPage("{% url 'admin_view:adminUserListDeleted' %}")'>
          <h3 class="main-item-nav">
            削除済みユーザー&nbsp;一覧
          </h3>
        </a>
        <a href='javascript:getPage("{% url 'admin_view:adminUserCreate' %}")'>
          <h3 class="main-item-nav">
            新規作成
          </h3>
        </a>
      </div>
      <table class="user-list-table">
        <tr>
          <th>
            ランク
          </th>
          <th>
            法人名
          </th>
          <th>
            担当者名
          </th>
          <th>
            最終ログイン日時
          </th>
          <th>
            アクション
          </th>
        </tr>
      <form action="{% url 'admin_view:adminUserSearch' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="enabled" value="True">
        <tr>
          <td>
            <input type="text" name="rank" pattern=".{0,1}">
          </td>
          <td>
            <input type="text" name="company" pattern=".{0-128}">
          </td>
          <td>
            <input type="text" name="name" pattern=".{0-32}">
          </td>
          <td></td>
          <td>
            <button type="submit">検索</button>
          </td>
        </tr>
      </form>
        {% for user in user_list %}
          <tr>
            <td>
              <h4 class="user-list__rank" style="background-color: {{ user.rank__color }}">
                {{ user.rank__name }}
              </h4>
            </td>
            <td>
              <h4 class="user-list__company">
                {{ user.company }}
              </h4>
            </td>
            <td>
              <h4 class="user-list__name">
                {{ user.name }}
              </h4>
            </td>
            <td>
              <h4 class="user-list__name">
                {{ user.last_login_datetime }}
              </h4>
            </td>
            <td>
              <a href='javascript:getPage("{% url 'admin_view:adminMessage' user_id=user.id %}")'>
                チャット画面
              </a>
              <a href='javascript:getPage("{% url 'admin_view:adminUserSingle' user_id=user.id %}")'>
                詳細
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}