{% extends "base.html" %}

{% block title %}
  ユーザー情報編集
{% endblock title %}
{% block content %}
  <div class="org-container">
    <div class="bread-crumb">
      <h4>
        管理者ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        アカウント
      </h4>
      <span>
        >
      </span>
      <h4>
        {% if user_id %}
          ユーザー情報編集
        {% else %}
          ユーザー作成
        {% endif %}
      </h4>
      <h4 class="user-box-name">
        <span class="insert-user-rank-name insert-user-rank-color"></span>
        <span class="insert-user-name"></span>
        様
      </h4>
    </div>
    <div class="main-item">
      <h2>
        ユーザー作成
      </h2>
      <div class="user-edit">
        <form action="{% url 'user_management:userEdit' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_type" value="post">
          <table>
            {{ form.enabled }}
            <input type="hidden" name="cei_id" value="{{ user_id }}">
            {% if user_id %}
              {{ form.id }}
            {% else %}
              <tr>
                <th>
                  {{ form.id.label_tag }} <span class="required-span">必須</span>
                </th>
                <td>
                  {{ form.id }}
                </td>
              </tr>
            {% endif %}
            <tr>
              <th>
                {{ form.rank.label_tag }} <span class="required-span">必須</span>
              </th>
              <td>
                {{ form.rank }}
              </td>
            </tr>
            <tr>
              <th>
                {{ form.company.label_tag }} <span class="optional-span">任意</span>
              </th>
              <td>
                {{ form.company }}
              </td>
            </tr>
            <tr>
              <th>
                {{ form.name.label_tag }} <span class="required-span">必須</span>
              </th>
              <td>
                {{ form.name }}
              </td>
            </tr>
            <tr>
              <th>
                {{ form.phone.label_tag }} <span class="optional-span">任意</span>
              </th>
              <td>
                {{ form.phone }}
              </td>
            </tr>
            <tr>
              <th>
                {{ form.mail.label_tag }} <span class="optional-span">任意</span>
              </th>
              <td>
                {{ form.mail }}
              </td>
            </tr>
            <tr>
              <th>
                {{ form.password.label_tag }} <span class="required-span">必須</span>
              </th>
              <td>
                {{ form.password }}
              </td>
            </tr>
          </table>
          <div class="text-right">
            <button type="submit" id="submit" class="submit-btn">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}