{% extends "base.html" %}

{% block title %}
  ユーザー詳細
{% endblock title %}
{% block content %}
  <div class="org-container">
    <div class="bread-crumb">
      <h4>
        管理者ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        ユーザ管理
      </h4>
      <span>
        >
      </span>
      <h4>
        ユーザー詳細
      </h4>
      <h4 class="user-box-name">
        <span class="insert-user-rank-name insert-user-rank-color"></span>
        <span class="insert-user-name"></span>
        様
      </h4>
    </div>
    <div class="main-item">
      <h2>
        ユーザー詳細
      </h2>
      <div class="user-single">
        <table>
          <tr>
            <th>
              ランク
            </th>
            <td>
              {{ user.rank__name }}
            </td>
          </tr>
          <tr>
            <th>
              法人名
            </th>
            <td>
              {{ user.company }}
            </td>
          </tr>
          <tr>
            <th>
              担当者名
            </th>
            <td>
              {{ user.name }}
            </td>
          </tr>
          <tr>
            <th>
              電話番号
            </th>
            <td>
              {{ user.phone }}
            </td>
          </tr>
          <tr>
            <th>
              メールアドレス
            </th>
            <td>
              {{ user.mail }}
            </td>
          </tr>
          <tr>
            <th>
              パスワード
            </th>
            <td>
              {{ user.password }}
            </td>
          </tr>
          <tr>
            <th>
              登録日
            </th>
            <td>
              {{ user.register_datetime }}
            </td>
          </tr>
        </table>
      </div>
      <div class="user-single-actions">
        <a href='javascript:getPage("{% url 'user_management:userEdit' %}")'>
          <h5>
            編集
          </h5>
        </a>
      </div>
    </div>
  </div>
{% endblock content %}