{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>管理者ログイン</title>
  </head>
  <body>
    <header>
    </header>
    <div class="container">
      <form action="{% url 'admin_view:adminLogin' %}" method="post">
      {% csrf_token %}
        <h2 class="login_title">ログイン</h2>
        <div class="admin-login-item">
          <h3>管理者ID:</h3>
          <input type="text" class="id-input-btn" name="admin_id" placeholder="Admin_ID" required/>
          <h3>管理者パスワード:</h3>
          <input type="password" class="pass-input-btn" name="admin_pass" placeholder="Password" required/>
          <div class="text-right">
            <button type="submit" class="admin-login-btn">ログイン</button>
          </div>
        </div>
      </form>
    </div>
    <footer>
    </footer>
{#    <div class="copyright">#}
{#      Copyright &copy; CEI All Rights Reserved.#}
{#    </div>#}
    <script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootbox.min.js' %}" ></script>
    <script src="{% static 'js/jscolor.js' %}"  crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(function() {
        {% if lsStore %}
          {% for key,value in lsStore.items %}
            localStorage.setItem("{{key}}", "{{value}}");
          {% endfor %}
        {% endif %}
        {% if messages %}
          {% for message in messages %}
            alert('{{ message }}');
          {% endfor %}
        {% endif %}
        {% if form.errors %}
          var errors = new DOMParser().parseFromString('{{ form.errors }}', 'text/html');
          errorList = errors.getElementsByClassName("errorlist")[0].children;
          for (var error_item of errorList) {
            for (var error of error_item.children) {
              id = 'id_' + error_item.innerHTML.replace(/\<ul.*$/, '');
              text = error.outerText;
              $('#' + id).parents('tr').after('<tr><th></th><td>' + text + '</td></tr>');
            }
          }
        {% endif %}
      });
    </script>
    <script type="text/javascript">
      function postForm(){
        var form = document.createElement( 'form' );
        document.body.appendChild( form );
        var post_type = document.createElement( 'input' );
        post_type.setAttribute( 'type' , 'hidden' );
        post_type.setAttribute( 'name' , 'post_type' );
        post_type.setAttribute( 'value' , 'user_form' );
        var admin_id = document.createElement( 'input' );
        admin_id.setAttribute( 'type' , 'hidden' );
        admin_id.setAttribute( 'name' , 'admin_id' );
        admin_id.setAttribute( 'value' , localStorage.getItem('admin_id') );
        var admin_pass = document.createElement( 'input' );
        admin_pass.setAttribute( 'type' , 'hidden' );
        admin_pass.setAttribute( 'name' , 'admin_pass' );
        admin_pass.setAttribute( 'value' , localStorage.getItem('admin_pass') );
        var csrftoken = document.createElement( 'input' );
        csrftoken.setAttribute( 'type' , 'hidden' );
        csrftoken.setAttribute( 'name' , 'csrfmiddlewaretoken' );
        csrftoken.setAttribute( 'value' , $.cookie('csrftoken') );
        form.appendChild( post_type );
        form.appendChild( admin_id );
        form.appendChild( admin_pass );
        form.appendChild( csrftoken );
        form.setAttribute( 'action' , '{% url 'admin_view:adminLogin' %}' );
        form.setAttribute( 'method' , 'post' );
        form.submit();
      }
    </script>
    <script src="{% static 'js/main.js' %}"  crossorigin="anonymous"></script>
  </body>
</html>
