{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="header-menu">
        <h1>CEI,BASE<br>
          <span>お客様ページ</span>
        </h1>
        <div>
          <span>menu</span>
          <a href='javascript:getPage("{% url 'news:newsList' %}")'>
            <h3><i class="fa fa-exclamation-circle" aria-hidden="true"></i>お知らせ一覧</h3>
          </a>
          <a href='javascript:getPage("{% url 'message:message' %}")'>
            <h3><i class="fa fa-commenting-o" aria-hidden="true"></i>メッセージ</h3>
          </a>
          <a href='javascript:getPage("{% url 'user_management:userSingle' %}")'>
            <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i>アカウント</h3>
          </a>
        </div>
      </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
    </footer>
{#    <div class="copyright">#}
{#      Copyright &copy; CEI All Rights Reserved.#}
{#    </div>#}
    <script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootbox.min.js' %}" ></script>
    <script src="{% static 'js/jscolor.js' %}"  crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(function() {
        {% if lsStore %}
          {% for key,value in lsStore.items %}
            localStorage.setItem("{{key}}", "{{value}}");
          {% endfor %}
        {% endif %}
        {% if messages %}
          {% for message in messages %}
            alert('{{ message }}');
          {% endfor %}
        {% endif %}
        {% if form.errors %}
          var errors = new DOMParser().parseFromString('{{ form.errors }}', 'text/html');
          errorList = errors.getElementsByClassName("errorlist")[0].children;
          for (var error_item of errorList) {
            for (var error of error_item.children) {
              id = 'id_' + error_item.innerHTML.replace(/\<ul.*$/, '');
              text = error.outerText;
              $('#' + id).parents('tr').after('<tr><th></th><td>' + text + '</td></tr>');
            }
          }
        {% endif %}
      });
    </script>
    <script type="text/javascript">
      function getPage(url){
        var form = document.createElement( 'form' );
        document.body.appendChild( form );
        var post_type = document.createElement( 'input' );
        post_type.setAttribute( 'type' , 'hidden' );
        post_type.setAttribute( 'name' , 'post_type' );
        post_type.setAttribute( 'value' , 'get_page' );
        var admin_id = document.createElement( 'input' );
        admin_id.setAttribute( 'type' , 'hidden' );
        admin_id.setAttribute( 'name' , 'cei_id' );
        admin_id.setAttribute( 'value' , localStorage.getItem('cei_id') );
        var admin_pass = document.createElement( 'input' );
        admin_pass.setAttribute( 'type' , 'hidden' );
        admin_pass.setAttribute( 'name' , 'cei_pass' );
        admin_pass.setAttribute( 'value' , localStorage.getItem('cei_pass') );
        var csrftoken = document.createElement( 'input' );
        csrftoken.setAttribute( 'type' , 'hidden' );
        csrftoken.setAttribute( 'name' , 'csrfmiddlewaretoken' );
        csrftoken.setAttribute( 'value' , $.cookie('csrftoken') );
        form.appendChild( post_type );
        form.appendChild( admin_id );
        form.appendChild( admin_pass );
        form.appendChild( csrftoken );
        form.setAttribute( 'action' , url );
        form.setAttribute( 'method' , 'post' );
        form.submit();
      }
    </script>
    <script src="{% static 'js/main.js' %}"  crossorigin="anonymous"></script>
    {% block js %}{% endblock %}
  </body>
</html>