{% extends "admin_base.html" %}

{% block title %}{% endblock title %}

{% block content %}

  <div class="org-container">
    <div class="bread-crumb">
      <h4>
        お知らせ管理
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ一覧
      </h4>
      <h4 class="cei-icon">
        管理者<span>CEI</span>
      </h4>
    </div>
    <div class="main-item">
      <h2>
        お知らせ
      </h2>
      <a href='javascript:getPage("{% url 'admin_view:newsCreate' %}")'>
        <div class="news-create-btn">
          ＋新規投稿
        </div>
      </a>
      <a href='javascript:getPage("{% url 'admin_view:categoryList' %}")'>
        <div class="category-create-btn">
          ＋カテゴリー編集
        </div>
      </a>
      {% for news in news_list %}
        <a href='javascript:getPage("{% url 'admin_view:newsSingleAdmin' id=news.id %}")'>
          <div class="row news-border">
            <div class="col-md-2">
              <h3>
                {{ news.post_datetime|date:"Y/m/d"}}
              </h3>
              <h4 style="background-color:{{ news.news_category__category_color }};">
                {{ news.news_category__category_name }}
              </h4>
            </div>
            <div class="col-md-10">
              <p>
                {{ news.title }}
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
      <div class="paging-box">
        {% for page in pages %}
          <a href='javascript:getPage("{% url 'admin_view:newsListWithPageAdmin' s_page=page %}")'>
            <button class="pages-btn">
              {{ page }}
            </button>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}