{% extends "admin_base.html" %}

{% block title %}{% endblock title %}

{% block content %}

  <div class="org-container">
    <div class="bread-crumb">
      <h4>
       お知らせ管理
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ一覧
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ詳細
      </h4>
      <h4 class="cei-icon">
        管理者<span>CEI</span>
      </h4>
    </div>
    <div class="main-item">
      <h2 class="main-item-title">
        お知らせ
      </h2>
      <a href='javascript:getPage("{% url 'admin_view:newsEdit' id=news.id %}")'>
        <button class="edit-news-btn">
          お知らせ編集
        </button>
      </a>
      <div class="row news-border single-opacity">
        <div class="col-md-2">
          <h3>
            {{ news.post_datetime|date:"Y/m/d"}}
          </h3>
          <h4 style="background-color:{{ news.news_category__category_color }};">
            {{ news.news_category__category_name }}
          </h4>
        </div>
        <div class="col-md-10 right-news">
          <h3>
            {{ news.title }}
          </h3>
          <p>
            {{ news.caption|linebreaksbr }}
          </p>
        </div>
      </div>
      <div class="paging-box">
        <a href='javascript:getPage("{% url 'admin_view:newsListAdmin' %}")'>
          <button class="back-news-btn">
            一覧へ戻る
          </button>
        </a>
      </div>
    </div>
  </div>

{% endblock content %}