{% extends "admin_base.html" %}

{% block title %}新規ニュース{% endblock title %}

{% block content %}
  <div class="org-container">
    <div class="bread-crumb">
      <h4>
       管理者専用ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ一覧
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ追加
      </h4>
      <h4 class="cei-icon">
        管理者<span>CEI</span>
      </h4>
    </div>
  {% if id %}
    <form action="{% url 'admin_view:newsEdit' id=id %}" method="post">
  {% else %}
    <form action="{% url 'admin_view:newsCreate' %}" method="post">
  {% endif %}
    {% csrf_token %}
      <input type="hidden" name="post_type" value="post">
      <div class="main-item">
        <div class="row">
          <div class="col-md-3 news-text">
             ニュースカテゴリー <span class="required-span">必須</span>
          </div>
          <div class="col-md-9 news-caption">
            {{ form.news_category }}
            <a href='javascript:getPage("{% url 'admin_view:categoryCreate'%}")'>
              <h5>
                ＋追加
              </h5>
            </a>
          </div>
          <div class="col-md-3 news-text">
             ニュースタイトル <span class="required-span">必須</span>
          </div>
          <div class="col-md-9 news-caption">
                {{ form.title }}
          </div>
          <div class="col-md-3 news-text">
                ニュース本文 <span class="required-span">必須</span>
          </div>
          <div class="col-md-9 news-caption">
                {{ form.caption }}
          </div>
          <div class="col-md-3 news-text">
                ニュース表示 <span class="required-span">必須</span>
          </div>
          <div class="col-md-9 news-caption">
                {{ form.watch_flg }}
          </div>
        </div>
        <div class="text-right">
          <button type="submit" id="submit" class="submit-btn">投稿</button>
          {% if id %}
            <div id="delete-btn">
              削除
            </div>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
{% block js %}
  <script>
    $('#delete-btn').click(function(){
      bootbox.confirm("本当に削除しますか？", function(result){
        if(result){
          var form = document.createElement( 'form' );
          document.body.appendChild( form );
          var post_type = document.createElement( 'input' );
          post_type.setAttribute( 'type' , 'hidden' );
          post_type.setAttribute( 'name' , 'post_type' );
          post_type.setAttribute( 'value' , 'user_form' );
          var admin_id = document.createElement( 'input' );
          admin_id.setAttribute( 'type' , 'hidden' );
          admin_id.setAttribute( 'name' , 'admin_id' );
          admin_id.setAttribute( 'value' , localStorage.getItem('admin_id') );
          var admin_pass = document.createElement( 'input' );
          admin_pass.setAttribute( 'type' , 'hidden' );
          admin_pass.setAttribute( 'name' , 'admin_pass' );
          admin_pass.setAttribute( 'value' , localStorage.getItem('admin_pass') );
          var csrftoken = document.createElement( 'input' );
          csrftoken.setAttribute( 'type' , 'hidden' );
          csrftoken.setAttribute( 'name' , 'csrfmiddlewaretoken' );
          csrftoken.setAttribute( 'value' , $.cookie('csrftoken') );
          form.appendChild( post_type );
          form.appendChild( admin_id );
          form.appendChild( admin_pass );
          form.appendChild( csrftoken );
          form.setAttribute( 'action' , "{% url 'admin_view:newsDelete' id=id %}" );
          form.setAttribute( 'method' , 'post' );
          form.submit();
{#          location.href = "{% url 'admin_view:newsDelete' id=id %}";#}
        }
      });
    });
  </script>
{% endblock %}