{% extends "admin_base.html" %}

{% block title %}新規カテゴリー{% endblock title %}

{% block content %}
  <div class="org-container">
    <div class="bread-crumb">
      <h4>
       管理者専用ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ一覧
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ追加
      </h4>
      <h4 class="cei-icon">
        管理者<span>CEI</span>
      </h4>
    </div>
  {% if id %}
    <form action="{% url 'admin_view:categoryEdit' id=id %}" method="post">
  {% else %}
    <form action="{% url 'admin_view:categoryCreate' %}" method="post">
  {% endif %}
    {% csrf_token %}
      <input type="hidden" name="post_type" value="post">
      <div class="main-item">
        <div class="row">
          <div class="col-md-3 news-text">
             カテゴリータイトル <span class="required-span">必須</span>
          </div>
          <div class="col-md-9 news-caption">
            {{ form.category_name }}
          </div>
          <div class="col-md-3 news-text">
             カテゴリーカラー <span class="required-span">必須</span>
          </div>
          <div class="col-md-9 news-caption">
                {{ form.category_color }}
          </div>
        </div>
        {% if id %}
          <div class="text-right">
            <button type="submit" id="submit-category" class="submit-btn">変更</button>
          </div>
        {% else %}
          <div class="text-right">
            <button type="submit" id="submit-category" class="submit-btn">新規作成</button>
          </div>
        {% endif %}
      </div>
    </form>
  </form>
{% endblock content %}