{% extends "admin_base.html" %}

{% block title %}{% endblock title %}

{% block content %}

  <div class="org-container">
    <div class="bread-crumb">
      <h4>
        お知らせ管理
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ一覧
      </h4>
      <span>
        >
      </span>
      <h4>
        カテゴリー管理
      </h4>
      <h4 class="cei-icon">
        管理者<span>CEI</span>
      </h4>
    </div>
    <div class="main-item">
      <h2>
        カテゴリー管理
      </h2>
      <div class="row news-border category-tag">
        {% for category in category_list %}
          <div class="col-md-2">
            <a href='javascript:getPage("{% url 'admin_view:categoryEdit' id=category.id %}")'>
              <h4 style="background-color:{{ category.category_color }};">
                {{ category.category_name }}
              </h4>
            </a>
          </div>
        {% endfor %}
      </div>
      <a href='javascript:getPage("{% url 'admin_view:categoryCreate' %}")'>
        <div class="category-create-list-btn">
          ＋新規カテゴリー投稿
        </div>
      </a>
      <a href='javascript:getPage("{% url 'admin_view:newsCreate' %}")'>
        <div class="news-create-list-btn">
          ＋新規ニュース投稿
        </div>
      </a>
    </div>
  </div>

{% endblock content %}