{% extends "base.html" %}

{% block title %}ニュースリスト{% endblock title %}

{% block content %}

  <div class="org-container">
    <div class="bread-crumb">
      <h4>
       会員様専用ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ一覧
      </h4>
      <h4 class="user-box-name">
        <span class="insert-user-rank-name insert-user-rank-color"></span>
        <span class="insert-user-name"></span>
        様
      </h4>
    </div>
    <div class="main-item">
      <h2>
        お知らせ
      </h2>
      {% for news in news_list %}
        <a href='javascript:getPage("{% url 'news:newsSingle' id=news.id %}")'>
          <div class="row news-border">
            <div class="col-md-2">
              <h3>
                {{ news.post_datetime|date:"Y/m/d"}}
              </h3>
              <h4 style="background-color:{{ news.news_category__category_color }};">
                {{ news.news_category__category_name }}
              </h4>
            </div>
            <div class="col-md-10">
              <p>
                {{ news.title }}
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
      <div class="paging-box">
        {% for page in pages %}
          <a href='javascript:getPage("{% url 'news:newsListWithPage' s_page=page %}")'>
            <button class="pages-btn">
              {{ page }}
            </button>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}