{% extends "base.html" %}

{% block title %}ニュース詳細{% endblock title %}

{% block content %}

  <div class="org-container">
    <div class="bread-crumb">
      <h4>
       会員様専用ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ一覧
      </h4>
      <span>
        >
      </span>
      <h4>
        お知らせ詳細
      </h4>
      <h4 class="user-box-name">
        <span class="insert-user-rank-name insert-user-rank-color"></span>
        <span class="insert-user-name"></span>
        様
      </h4>
    </div>
    <div class="main-item">
      <h2>
        お知らせ
      </h2>
      <div class="row news-border">
        <div class="col-md-2">
          <h3>
            {{ news.post_datetime|date:"Y/m/d"}}
          </h3>
          <h4 style="background-color:{{ news.news_category__category_color }};">
            {{ news.news_category__category_name }}
          </h4>
        </div>
        <div class="col-md-10 right-news">
          <h3>
            {{ news.title }}
          </h3>
          <p>
            {{ news.caption|linebreaksbr }}
          </p>
        </div>
      </div>
      <div class="paging-box">
        <a href='javascript:getPage("{% url 'news:newsList'%}")'>
          <button class="back-news-btn">
            一覧へ戻る
          </button>
        </a>
      </div>
    </div>
  </div>

{% endblock content %}