{% extends "admin_base.html" %}

{% block title %}{% endblock title %}

{% block content %}

  <div class="org-container">
    <div class="bread-crumb">
      <h4>
       会員様専用ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        メッセージ一覧
      </h4>
      <h4 class="cei-icon">
        管理者<span>CEI</span>
      </h4>
    </div>
    <div class="main-item">
      <div class="container">
        <h2>
          新着メッセージ一覧
        </h2>
        <div class="message_list">
          {% if message_list %}
            {% for message in message_list %}
              <a href='javascript:getPage("{% url 'admin_view:adminMessage' user_id=message.user__id %}")'>
                <div class="message">
                  <div class="row no-gutters">
                    <div class="col-md-2">
                      <div class="message-icon">
                        <img src="">
                      </div>
                      <h3 class="send_name">
                        {{ message.user__name }}
                      </h3>
                    </div>
                    <div class="col-md-10">
                      <h4 class="message__text {{ message.admin_send_flag|yesno:"admin_send,user_send" }}">
                        {{ message.text|linebreaksbr }}
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            {% endfor %}
            {% else %}
            <h3 class="no-message">新着メッセージはありません</h3>
          {% endif %}
        </div>
      </div>
      <div class="container">
        <div class="pagination">
          <div class="row no-gutters">
            {% if message_list %}
              {% for page in pages %}
                <div class="col-md-1">
                  <a href='javascript:getPage("{% url 'admin_view:adminMessageListWithPage' s_page=page %}")'>
                    <button class="page-button">
                      {{ page }}
                    </button>
                  </a>
                </div>
              {% endfor %}
              {% else %}
            {% endif %}
          </div>
        </div>
      </div>
  </div>
{% endblock content %}