{% extends "admin_base.html" %}

{% load staticfiles %}

{% block title %}{% endblock title %}

{% block content %}

  <div class="org-container">
    <div class="bread-crumb">
      <h4>
        会員様専用ページ
      </h4>
      <span>
        >
      </span>
      <h4>
        メッセージ
      </h4>
      <h4 class="cei-icon">
        管理者<span>CEI</span>
      </h4>
    </div>
    <div class="main-item">
      <h2>
        メッセージ
      </h2>
      <div class="message_list">
        {% for message in message_list %}
          <div class="message">
            <div class="row no-gutters">
              <div class="col-md-2">
                {% if message.admin_send_flag %}
                  <div class="message-icon">
                    <img src="{% static 'img/admin-img.png' %}">
                  </div>
                  <h3 class="send_name">
                    CEI
                  </h3>
                  {% if message.read_flag %}
                    <h4 class="message__read required-span">
                      既読
                    </h4>
                  {% else %}
                    <h4 class="message__read optional-span">
                      未読
                    </h4>
                  {% endif %}
                {% else %}
                  <div class="message-icon">
                    <img src="{% static 'img/you-img.png' %}">
                  </div>
                  <h3 class="send_name">
                    {{ message.user__name }}
                  </h3>
                {% endif %}
              </div>
              <div class="col-md-10">
                <h4 class="message__text {{ message.admin_send_flag|yesno:"admin_send,user_send" }}">
                  {{ message.text|linebreaksbr }}
                </h4>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="pagination">
        {% for page in pages %}
          <a href='javascript:getPage("{% url 'admin_view:adminMessageWithPage' user_id=user_id s_page=page %}")'>
            <button class="page-button">
              {{ page }}
            </button>
          </a>
        {% endfor %}
      </div>
      <div class="message-send-box">
        <div class="message-icon">
          <img src="{% static 'img/admin-img.png' %}">
        </div>
        <h3 class="send_name">
          CEI <span>からメッセージを送信する</span>
        </h3>
        <div class="row no-gutters">
          <div class="col-md-2">
            <h4>
              テキスト内容
            </h4>
          </div>
          <div class="col-md-10">
            <form action="{% url 'admin_view:adminMessage' user_id=user_id %}" method="POST" class="message-send-form">
              {% csrf_token %}
              <input type="hidden" name="post_type" value="post">
              <textarea title="message_text" name="text"></textarea>
              <button type="submit">
                メッセージを送信する
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}