html{
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

/* admin_login */

.login_title{
  margin: 5rem 0;
  padding:1rem 0;
  border-bottom: 3px solid #555;
}

.admin-login-item{
    text-align: left;
    width: 40%;
    margin: 0 30%;
}

.id-input-btn{
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
}

.admin-login-btn{
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  width: 160px;
  margin: 1rem 0 0 0;
  border: 1px solid #2981D7;
  background-color: #2981D7;
  color: #FFF;
  transition: .3s;
  border-radius: 5px;
}

.admin-login-btn:hover{
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 0;
  border: 1px solid #2981D7;
  background-color: #FFF;
  color: #2981D7;
  transition: .3s;
  cursor: pointer;
}

.row.news-border.single-opacity:hover{
  opacity: 1;
}

.pass-input-btn{
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
}

.admin-login-item h3{
  font-size: 1.2rem;
}

.org-container{
  padding: 0 20px;
  margin-left: 200px;
}


.header-menu{
  background-color: #94919C;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.header-menu a{
  text-decoration: none;
  transition: .3s;
}

h3 .fa{
  margin: 0 1rem 0 0;
}

.header-menu a h3:hover{
  opacity: .7;
  transition: .3s;
}

.header-menu h1{
  text-align: center;
  font-size: 26px;
  color: #FFF;
  border-bottom: 1px solid #A8A7AD;
  padding: 2rem;
}

.header-menu h1 span{
  text-align: center;
  font-size: 14px;
  color: #FFF;
}

.header-menu div span{
  font-size: 14px;
  color: #FFF;
  padding: 15px 10px;
}

.header-menu div h3{
  font-size: 16px;
  color: #FFF;
  border-bottom: 1px solid #A8A7AD;
  padding: 15px 10px;
}

.bread-crumb{
  width: calc(100vw - 200px);
  height: 113px;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 1px solid #A8A7AD;
  background-color: #FFF;
  padding: 0 20px;
  z-index: 2;
}

.bread-crumb .user-box-name{
  float: right;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 4.5rem 0 0 0;
}

.insert-user-rank-name.insert-user-rank-color{
  border: 4px solid;
  border-radius: 50%;
  padding: 2px 9px;
  margin: 0 .5rem;
}

.bread-crumb h4{
  font-size: 14px;
  display: inline-block;
  margin: 5rem 0rem 0 0rem;
}

.cei-icon{

  float: right;
  font-size: 1.4rem;
}

.cei-icon span{
  font-size: 1.8rem;
  margin: 0 1rem;
  color: #94919C;
}

.make_border{
  border-bottom: 1px solid #A8A7AD;
  margin: 0 -20px;
}

.main-item{
  width: 100%;
  margin-bottom: 5rem;
  margin-top: 113px;
}

.main-item h2{
  margin: 3rem 0 0 0;
  vertical-align: middle;
  display: inline-block;
}

.main-item .main-item-title{
  vertical-align: middle;
  display: inline-block;
  margin: 3rem 0 0 0;
}

.news-border{
  margin: 3rem 0;
}

.news-border:hover{
  opacity: .7;
}

.main-item .row.news-border.category-tag:hover{
  opacity: 1;
}

.row.news-border.category-tag h4:hover{
  opacity: .7;
}

.news-border .col-md-10{
  border-left: 2px solid #E6E7E8;
}

.news-border .col-md-10 p{
  letter-spacing: .2rem;
  font-size: 16px;
}

.main-item a{
  color: #000;
}

.main-item a:hover{
  text-decoration: none;
}

.news-border h3{
  letter-spacing: .3rem;
  font-size: 16px;
  text-align: center;
  margin: 0rem 0rem ;
  line-height: 200%;
}

.news-border h4{
  color: #FFF;
  font-size: 14px;
  padding: .5rem 1rem;
  text-align: center;
  margin: 0 0 1.5rem 0;
}

.pages-btn{
  margin: 0 .4rem;
  font-size: 1.4rem;
  background-color: #FFF;
  border: 1px solid #A8A7AD;
  padding: 0.7rem 1.2rem;
  transition: .3s;
}

.pages-btn:hover{
  cursor: pointer;
  background-color: #000;
  color: #FFF;
  transition: .3s;
}

.paging-box{
  text-align: center;
}

.right-news h3{
  text-align: left;
  margin: 0 0 2rem 0;
}

.news-caption h5{
  border: 1px solid #000;
  display: inline-block;
  width: 7%;
  border-radius: 3px;
  padding: 0.2rem .2rem 0.2rem .2rem;
  margin: 0rem 1rem;
  vertical-align: middle;
  transition: .3s;
  cursor: pointer;
}

.news-caption h5:hover{
  border: 1px solid #000;
  background-color: #000;
  color: #FFF;
  transition: .3s;
  cursor: pointer;
}

.row .col-md-10.right-news p{
  font-size: 14px;
}

.back-news-btn{
  font-size: 18px;
  padding: 1rem 2rem;
  border: 1px solid #C6C7C8;
  background-color: #FFF;
  transition: .3s;
}

.edit-news-btn{
  font-size: 18px;
  padding: 1rem 2rem;
  border: 1px solid #C6C7C8;
  background-color: #FFF;
  transition: .3s;
  margin: 3rem 0 0 0;
  float: right;
}

.back-news-btn:hover{
  cursor: pointer;
  transition: .3s;
  background-color: #000;
  color: #FFF;
}

.edit-news-btn:hover{
  cursor: pointer;
  transition: .3s;
  background-color: #000;
  color: #FFF;
}

.news-text{
  font-size: 18px;
  margin: 1rem 0;
}

.news-caption input{
  width: 100%;
  margin: 1rem 0rem;
}

.news-caption textarea{
  width: 100%;
  margin: 1rem 0rem;
}

.news-text .required-span{
  border: .1rem solid #c62828;
  color: #c62828;
  margin-left: 1rem;
  padding: 3px;
  font-size: .8rem;
  border-radius: 3px;
}

.optional-span {
  border: .1rem solid #999;
  color: #999;
  margin-left: 1rem;
  padding: 3px;
  font-size: .8rem;
  border-radius: 3px;
}

.news-caption select {
  -webkit-appearance: none;
  padding: .2rem 2rem .2rem 0.5rem;
  background-image: url(../img/ic_arrow_drop_down_black_24dp_1x.png);
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block;
  margin: 1rem 0;
}

#id_watch_flg {
  list-style-type: none;
  display: flex;
  padding: 0;
}

#id_watch_flg li label {
  margin: 0;
  padding: .6rem 2rem 0 0;
}

.news-caption #id_watch_flg input {
  width: auto;
}

#delete-btn{
  border: 1px solid #FF0000;
  background-color: #FF0000;
  width: 20%;
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 2rem;
  transition: .3s;
  margin: 4rem 0% 0 80%;
}

#delete-btn:hover{
  border: 1px solid #FF0000;
  background-color: #FFF;
  color: #FF0000;
  transition: .3s;
  cursor: pointer;
}

.submit-btn{
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 20%;
  margin: 4rem 0 0 0;
  border: 1px solid #2981D7;
  background-color: #2981D7;
  color: #FFF;
  transition: .3s;
}

.submit-btn:hover{
    cursor: pointer;
    transition: .3s;
    background-color: #FFF;
    color: #2981D7;
}

.news-create-btn{
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 20%;
  margin: 2rem 0 0 2rem;
  border: 1px solid #2981D7;
  background-color: #2981D7;
  color: #FFF;
  transition: .3s;
  text-align: center;
  display: inline-block;
  float: right;
}

.news-create-btn:hover{
  cursor: pointer;
  transition: .3s;
  background-color: #FFF;
  color: #2981D7;
}

.category-create-btn{
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 20%;
  margin: 2rem 0 0 0;
  border: 1px solid #FFA042;
  background-color: #FFA042;
  color: #FFF;
  transition: .3s;
  text-align: center;
  display: inline-block;
  float: right;
}

.category-create-btn:hover{
  cursor: pointer;
  transition: .3s;
  background-color: #FFF;
  color: #FFA042;
}

.category-create-list-btn{
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 20%;
  margin: 2rem 0 0 0;
  border: 1px solid #FFA042;
  background-color: #FFA042;
  color: #FFF;
  transition: .3s;
  text-align: center;
  display: inline-block;
  float: right;
}

.category-create-list-btn:hover{
  cursor: pointer;
  transition: .3s;
  background-color: #FFF;
  color: #FFA042;
}

.news-create-list-btn{
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 20%;
  margin: 2rem 2rem 0 0;
  border: 1px solid #2981D7;
  background-color: #2981D7;
  color: #FFF;
  transition: .3s;
  text-align: center;
  display: inline-block;
  float: right;
}

.news-create-list-btn:hover{
  cursor: pointer;
  transition: .3s;
  background-color: #FFF;
  color: #2981D7;
}

.message-send-box{
  border: 3px dotted #D4D5D6;
  margin: 70px 0;
  padding: 2rem 1rem;
}

.message-icon{
  display: inline-block;
}

.send_name{
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
  margin: 0 1rem;
}

.send_name span{
  font-size: 1rem;
  margin: 0 1rem;
}

.send_name .insert-user-name{
  font-size: 1.6rem;
}

.message-send-box h4{
  margin: 2rem 0;
  font-size: 1rem;
}

.message-send-form textarea{
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D4D5D6;
  height: 100px;
  margin: 2rem 0;
}

.message-send-form button{
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 230px;
  border: 1px solid #2981D7;
  background-color: #2981D7;
  color: #FFF;
  transition: .3s;
  border-radius: 3px;
}

.message-send-form button:hover {
  cursor: pointer;
  transition: .3s;
  background-color: #FFF;
  color: #2981D7;
}

.message__text.admin_send{
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #EBECEE;
  border-radius: 5px;
}

.message__text.user_send{
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #E7E5C3;
  border-radius: 5px;
}

.message .row{
  margin: 2rem 0;
}

.message__read.optional-span{
  color: #999;
  padding: 3px;
  font-size: .8rem;
  border-radius: 3px;
  border: none;
  margin: 1rem;
}

.pagination a{
  margin: 0 2rem 0 0;
}

.pagination .page-button{
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #FFF;
  transition: .3s;
  padding: .7rem 1rem;
  font-size: 1.3rem;
  margin: 2rem 0;
}

.pagination .page-button:hover{
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #000;
  color: #FFF;
  transition: .3s;
  cursor: pointer;
}

/* user */

.main-item-nav{
  display: inline-block;
  margin: 3rem .5rem 1rem 0;
  border: 1px solid #A8A7AD;
  padding: .7rem 2.5rem .7rem 2.5rem;
  font-size: 1.2rem;
}

a .main-item-nav{
   color: #A8A7AD;
}

a .main-item-nav.active{
  color: #FFF;
}

.main-item-nav.active{
  display: inline-block;
  margin: 3rem .5rem 1rem 0;
  border: 1px solid #A8A7AD;
  background-color: #A8A7AD;
  padding: .5rem 2.5rem .7rem 2.5rem;
}

.main-item-nav.active a{
  color: #FFF;
  font-size: 1.2rem;
}

.user-list-table{
  width: 100%;
}

.user-list-table tr{
  border-bottom: 1px solid #A8A7AD;
  border-top: 1px solid #A8A7AD;
  color: #A8A7AD;
}

.user-list-table th{
  padding: 1rem 0;
  font-size: 1.1rem;
}

.user-list-table td{
  padding: 1rem 0;
  font-size: 1.1rem;
}

.user-list-table td a{
  color: #0275d8;
  text-decoration: underline;
  margin: 0 2.5rem 0 0;
}

.user-list-table td a:hover{
  color: #0275d8;
  text-decoration: none;
}

.user-list-table td button{
  background-color: #FFF;
  border: 1px solid #A8A7AD;
  color: #A8A7AD;
  transition: .3s;
  padding: .2rem 1rem;
}

.user-list-table td button:hover{
  background-color: #A8A7AD;
  border: 1px solid #A8A7AD;
  color: #FFF;
  cursor: pointer;
  transition: .3s;
}

.user-list__rank{
  width: 0;
}

.user-single{
  padding: 1rem 0;
  font-size: 1.1rem;
  /*border-bottom: 1px solid #A8A7AD;*/
  /*border-top: 1px solid #A8A7AD;*/
  color: #A8A7AD;
  width: 100%;
}

.user-edit{
  margin: 2rem 0;
}

.user-single table,
.user-edit table{
  width: 100%;
}

.user-single tr,
.user-edit tr{
  border-top: 1px solid #A8A7AD;
}

.user-single .no-border,
.user-edit .no-border{
  border-top: none;
}

.last-make-border{
  border-top: 1px solid #A8A7AD;
  border-bottom: 1px solid #A8A7AD;
}

.user-single th,
.user-edit th{
  padding: 1rem 0;
  font-size: 1.1rem;
  width: 20%;
}

.user-single-actions h5{
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 20%;
  margin: 2rem 0 5rem 2rem;
  border: 1px solid #2981D7;
  background-color: #2981D7;
  color: #FFF;
  transition: .3s;
  text-align: center;
  display: inline-block;
  float: right;
}

.user-single-actions .single-del-btn{
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 20%;
  margin: 2rem 0 0 2rem;
  border: 1px solid #FF0000;
  background-color: #FF0000;
  color: #FFF;
  transition: .3s;
  text-align: center;
  display: inline-block;
  float: right;
}

.user-single-actions .revival-btn{
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 20%;
  margin: 2rem 0 5rem 2rem;
  border: 1px solid #FFA042;
  background-color: #FFA042;
  color: #FFF;
  transition: .3s;
  text-align: center;
  display: inline-block;
  float: right;
}

.user-single-actions .revival-btn:hover{
    cursor: pointer;
    transition: .3s;
    background-color: #FFF;
    color: #FFA042;
}

.user-single-actions h5:hover{
    cursor: pointer;
    transition: .3s;
    background-color: #FFF;
    color: #2981D7;
}

.user-single-actions .single-del-btn:hover{
    cursor: pointer;
    transition: .3s;
    background-color: #FFF;
    color: #FF0000;
}

.back-user-btn{
  color: #FFF;
  margin: 3rem .5rem 1rem 0;
  border: 1px solid #A8A7AD;
  background-color: #A8A7AD;
  padding: .5rem 2.5rem .7rem 2.5rem;
  font-size: 1.4rem;
  transition: .3s;
}

.back-user-btn:hover{
  color:  #A8A7AD;
  border: 1px solid #A8A7AD;
  background-color: #FFF;
  font-size: 1.4rem;
  transition: .3s;
}

.user-edit label{
  color: #A8A7AD;
}

.user-edit .required-span {
    border: .1rem solid #c62828;
    color: #c62828;
    margin-left: 1rem;
    padding: 3px;
    font-size: .8rem;
    border-radius: 3px;
}

#id_rank{
  height: 24px;
}

.message__read{
  font-size: 1rem;
  margin: .5rem 1.3rem;
}

.pagination{
  margin: 0 20px;
}

.no-message{
  margin: 3rem 0;
}