html{
}

.header-menu{
  background-color: #94919C;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.header-menu h1{
  text-align: center;
  font-size: 26px;
  color: #FFF;
  border-bottom: 1px solid #A8A7AD;
  padding: 2rem;
}

.header-menu h1 span{
  text-align: center;
  font-size: 14px;
  color: #FFF;
}

.header-menu div span{
  font-size: 14px;
  color: #FFF;
  padding: 15px 10px;
}

.header-menu div h3{
  font-size: 16px;
  color: #FFF;
  border-bottom: 1px solid #A8A7AD;
  padding: 15px 10px;
}

.user-info{
  width: 85%;
  margin-left: 15%;
  border-bottom: 1px solid  #A8A7AD;
  height: 105px;
}

.user-info h4{
  font-size: 14px;
  display: inline-block;
  margin: 5rem 1rem 0 1rem;
}